.intro {
  display: grid;
  grid-template-columns: 50% 50%;
  margin-top: 10rem;
}

.introCard {
  height: 60vh;
  h2 {
    @include headingSecond;
    margin-top: 1.5rem;
  }
  p {
    @include paragraphNormal;
    margin-bottom: 5.6rem;
  }

  button {
    font-size: 1.6rem;
    margin: 0.5rem;
  }
  &:first-child {
    text-align: left;
    width: 75%;
  }
  &:last-child {
    position: relative;
    text-align: right;
    img:first-of-type {
      height: auto;
      width: 110%;
    }

    img:last-of-type {
      position: absolute;
      top: 28%;
      right: -2%;
      height: 45vh;
    }
  }
}
