.profit {
  display: grid;
  height: 100vh;
  background-image: url('../assets/section-profit--background.svg');
  background-size: contain;
  background-position: 35%;
  background-repeat: no-repeat;
}

.profitCard {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;

  h2 {
    @include headingSecond;
    width: 95%;
  }
  p {
    @include paragraphNormal;
    width: 70%;
  }
}
