@import url("https://use.typekit.net/ywa6rkc.css");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Comfortaa", cursive;
}

html {
  font-size: 62.5%;
}

html,
body {
  margin: 0;
  padding: 0;
}

hr {
  width: calc(100vw - 2 * 25.6rem);
  margin: 3.2rem auto;
  background-color: #0e0e0e;
  height: 0.1rem;
  opacity: 0.08;
  text-align: center;
}

.intro {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
}

.introCard {
  height: 60vh;
}

.introCard h2 {
  color: #0e0e0e;
  font-family: "all-round-gothic";
  font-size: 5.6rem;
  font-weight: 700;
  margin-bottom: 0.8rem;
}

.introCard p {
  color: #4a4764;
  font-size: 1.6rem;
  font-family: "Comfortaa", cursive;
  line-height: 2.8rem;
}

.introCard button {
  font-size: 1.6rem;
  margin: 0.5rem;
}

.introCard:first-child {
  text-align: left;
}

.introCard:last-child {
  text-align: right;
}

.introCard:last-child img:first-of-type {
  height: 100%;
  width: auto;
}

.introCard:last-child img:last-of-type {
  position: absolute;
  top: 12%;
  right: 13%;
  height: 45vh;
}

.profit {
  display: -ms-grid;
  display: grid;
  height: 100vh;
  background-image: url("../assets/section-profit--background.svg");
  background-size: contain;
  background-position: 35%;
  background-repeat: no-repeat;
}

.profitCard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.profitCard h2 {
  color: #0e0e0e;
  font-family: "all-round-gothic";
  font-size: 5.6rem;
  font-weight: 700;
  margin-bottom: 0.8rem;
  width: 95%;
}

.profitCard p {
  color: #4a4764;
  font-size: 1.6rem;
  font-family: "Comfortaa", cursive;
  line-height: 2.8rem;
  width: 70%;
}

.faq {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
}

.faqCard {
  height: 90vh;
}

.faqCard:first-child {
  text-align: left;
}

.faqCard:first-child h3 {
  color: #0e0e0e;
  font-family: "all-round-gothic";
  font-size: 4rem;
  margin-top: 0;
  margin-bottom: 3rem;
  padding-right: 2rem;
}

.faqCard:first-child button {
  font-size: 1.6rem;
}

.faqCard:first-child .faqCardImage {
  width: 100%;
  height: 50%;
  margin-top: 2rem;
  margin-left: -10rem;
  background-image: url("../assets/illustration-faq.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.faqCard:last-child p {
  color: #4a4764;
  font-size: 1.6rem;
  font-family: "Comfortaa", cursive;
  line-height: 2.8rem;
}

.faqCard:last-child .accord {
  background-color: #4432ff;
  border-radius: 4px;
  border: none;
  -webkit-box-shadow: 24px 32px 56px 0 rgba(39, 33, 99, 0.12);
          box-shadow: 24px 32px 56px 0 rgba(39, 33, 99, 0.12);
  margin-bottom: 1.8rem;
  padding: 2rem 0rem 2rem 2rem;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.faqCard:last-child .accordHeader {
  font-size: 1.8rem;
  font-family: "Comfortaa", cursive;
  line-height: 2.8rem;
  color: #fff;
  background-color: #4432ff;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.faqCard:last-child .accordDesc {
  background-color: transparent;
  border-radius: 0 0 4px 4px;
}

.faqCard:last-child .accordIcon {
  font-size: 2.8rem;
  color: #fff;
  background-color: #4432ff;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.faqCard:last-child .activeFirst,
.faqCard:last-child .activeSecond,
.faqCard:last-child .activeThird,
.faqCard:last-child .activeFourth {
  color: #4432ff;
  background-color: #fff;
}

.opinions {
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  background-color: #f4f7f9;
}

.opinions h3 {
  color: #0e0e0e;
  font-family: "all-round-gothic";
  font-size: 4rem;
  margin-bottom: 3rem;
}

.opinions .opinionsSlider .opinionsItem {
  height: 50vh;
}

header {
  background-color: lightgray;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  padding: 0 25.6rem;
}

footer {
  background-color: red;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  padding: 0 25.6rem;
}

.gridContainer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  grid-row-gap: 12rem;
}

.gridContainer > section {
  padding: 0 16rem;
}
/*# sourceMappingURL=main.css.map */