//heading
@mixin heading {
  color: $titleColor;
  font-family: $familyFontsSecondary;
}

@mixin headingSecond {
  @include heading;
  font-size: 5.6rem;
  font-weight: 700;
  margin-bottom: 0.8rem;
}

//sf ns display font ??? no fonts were supplied in assets
@mixin headingThird {
  @include heading;
  font-size: 4rem;
}

//paragraph
@mixin paragraphNormal {
  color: $paragraphColor;
  font-size: 1.6rem;
  font-family: $familyFontsPrimary;
  line-height: 2.8rem;
}

//title
@mixin title {
  font-size: 1.8rem;
  font-family: $familyFontsPrimary;
  line-height: 2.8rem;
}
