@mixin title {
  color: $titleColor;
  font-size: 5.6rem;
  font-weight: 700;
  font-family: $familyFontsSecondary;
}
@mixin paragraph {
  color: $paragraphColor;
  font-size: 1.6rem;
  font-family: $familyFontsPrimary;
}
