//FONTS
@import url('https://use.typekit.net/ywa6rkc.css');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

//familyfonts
$familyFontsPrimary: 'Comfortaa', cursive;
$familyFontsSecondary: 'all-round-gothic';

//color
$primaryColor: #fff;
$supplementaryColor: #4432ff;
$titleColor: #0e0e0e;
$paragraphColor: #4a4764;
$transparentColor: transparent;
$color: #ffffff00;
