* {
  box-sizing: border-box;
  font-family: $familyFontsPrimary;
}

html {
  font-size: 62.5%; //1rem = 10px, 1.6rem = 16px;
}

html,
body {
  margin: 0;
  padding: 0;
}

hr {
  width: calc(100vw - 2 * 25.6rem);
  margin: 3.2rem auto;
  background-color: $titleColor;
  height: 0.1rem;
  opacity: 0.08;
  text-align: center;
}
